apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "dashy.fullname" . }}
  labels:
    {{- include "dashy.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  strategy:
    type: {{ .Values.strategyType | default "Recreate" }}
  selector:
    matchLabels:
      {{- include "dashy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "dashy.labels" . | nindent 8 }}
	{{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "dashy.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.env}}
          envFrom:
          {{- if not .Values.env.existingSecret }}
            - configMapRef:
                name: {{ template "dashy.fullname" . }}-env
          {{- else }}
            - secretRef:
                name: {{ .Values.env.existingSecret }}
          {{- end }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          startupProbe:
            httpGet:
              path: {{ .Values.probs.path }}
              port: {{ .Values.service.port }}
            failureThreshold: {{ .Values.probs.failureThreshold }}
            timeoutSeconds: {{ .Values.probs.timeoutSeconds }}
            periodSeconds: {{ .Values.probs.periodSeconds }}
            initialDelaySeconds: {{ .Values.probs.initialDelaySeconds }}
          livenessProbe:
            httpGet:
              path: {{ .Values.probs.path }}
              port: {{ .Values.service.port }}
            failureThreshold: {{ .Values.probs.failureThreshold }}
            timeoutSeconds: {{ .Values.probs.timeoutSeconds }}
            periodSeconds: {{ .Values.probs.periodSeconds }}
          readinessProbe:
            httpGet:
              path: {{ .Values.probs.path }}
              port: {{ .Values.service.port }}
            failureThreshold: {{ .Values.probs.failureThreshold }}
            timeoutSeconds: {{ .Values.probs.timeoutSeconds }}
            periodSeconds: {{ .Values.probs.periodSeconds }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            {{ if .Values.static.enabled }}
            - mountPath: /app/user-data/conf.yml
              subPath: conf.yml
              name: {{ include "dashy.fullname" . }}-conf
            {{ end }}
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        {{ if and (.Values.static.enabled) (not .Values.static.existingSecret) }}
        - name: {{ include "dashy.fullname" . }}-conf
          configMap:
            name: {{ include "dashy.fullname" . }}-conf
            items:
              - key: conf
                path: conf.yml
        {{ else if and (.Values.static.enabled) (.Values.static.existingSecret) }}
        - name: {{ include "dashy.fullname" . }}-conf
          secret:
            secretName: {{ .Values.static.existingSecret }}
            items:
              - key: conf
                path: conf.yml
        {{ end }}
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
{{- end }}
